*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}

ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}

ul li a:hover{
    background-color: white;
    color: black;
}

ul li.active a{
    background-color: white;
    color: black;
}
body{
    background-image:linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0)), url(../contact_us_2.jpg);
    height: 100vh;
    background-size: cover;
    background-position: centre;
    font-family: Arial, Helvetica, sans-serif;
}


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  top: 40%;
  float: left;
  width: 35%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: auto;
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #546372;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: white;
}

.img_ach{
    margin-top: 16px;
    left: 34%;
    padding: 5px 20px;
    float: left;
    width: auto;
    height: 170px;
}

.img_esh{
    margin-top: 16px;
    left: 34%;
    padding: 5px 20px;
    float: left;
    width: auto;
    height: 170px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}